
$color : #141414;

* { 
  box-sizing: border-box;
  margin: 0;
}

body {
  background: $color;
}

#info-bar {
  position: absolute;

  height: 30px;
  min-width: 320px;
  max-width: 520px;

  background: #FFFFFF;
  z-index: 1;

  top: 0; left: 0; bottom: 0; right: 0;
  margin: 0 auto;
  // opacity: 0.5;
}

#info-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 0 10px;
  color: $color;
}

#button-pause {
  width: 30px;
  height: 20px;
  background: $color;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
}

#button-pause:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background: #FFFFFF;
  top: 4px;
  left: 10px;
}

#button-pause:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background: #FFFFFF;
  top: 4px;
  left: 17px;
}

canvas {
  // border: 1px solid red;
}